@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
  }
  .card {
    width: calc(85% / 3);
    margin: 10px;
  }
  .popuptext table {
    top: -250px;
    left: -218px;
    width: 600px;
    height: 330px;
  }
}

@media screen and (min-width: 992px) {
  .container-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .container-1-1 {
    width: 70%;
  }
  .conatainer-1-2 {
    width: 20%;
    margin: 0 auto;
  }
  .container-1 button {
    position: absolute;
    top: -50px;
    left: 50px;
  }
  .cards {
    display: flex;
    justify-content: center;
  }
  .card {
    width: calc(85% / 4);
    margin: 10px;
  }
  .card span {
    vertical-align: baseline;
  }
  .container-4 .card {
    width: calc(85% / 3);
  }
  .instructions-container {
    width: 80%;
  }
  .footer-2-container {
    width: 80%;
    margin: 0 auto;
  }
}
